{% load static %}
<nav class="bg-white/90 backdrop-blur-md fixed top-0 left-0 w-full z-50">
    <div class="px-3">
        <div class="flex justify-between h-16 items-center">

            <!-- Левый блок: Логотип -->
            <div class="flex-shrink-0 flex items-center">
                <a href="{% url 'shop:product_list' %}" class="text-xl font-bold text-red-600"><img
                        src="{% static 'img/Logo.svg' %}" alt="Logo"></a>
            </div>

            <!-- Центр: Пункты навигации (десктоп) -->
            <div class="hidden md:flex space-x-6">
                <a href="{% url 'shop:product_list' %}"
                    class="relative px-3 py-2 rounded-md text-sm font-normal
                            text-black 
                            {% if request.resolver_match.url_name == 'product_list' %}after:w-full{% endif %}
                            after:block after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:bg-black after:transition-all hover:after:w-full">
                    Главная
                </a>
                <!-- DROPDOWN -->
                <div class="relative group">
                    <button
                        class="relative text-black px-3 py-2 rounded-md text-sm font-normal after:block after:absolute after:left-0 after:-bottom-1 after:w-0 after:h-0.5 after:bg-black after:transition-all hover:after:w-full">
                        Категории
                    </button>
                    <!-- dropdown menu категории-->
                    <div class="absolute left-0 top-full w-48 bg-white shadow-lg rounded-md 
                                opacity-0 invisible group-hover:opacity-100 group-hover:visible
                                transition duration-200">
                        {% for category in categories %}
                        <a href="{{ category.get_absolute_url }}"
                            class="block px-4 py-2 text-sm font-normal text-gray-700 
                                hover:bg-gray-100
                                {% if request.path == category.get_absolute_url %}bg-gray-200 font-semibold{% endif %}">
                            {{ category.name }}
                        </a>
                        {% endfor %}
                    </div>
                    <!-- dropdown menu категории-->
                </div>
                <a href="#"
                    class="relative px-3 py-2 rounded-md text-sm font-normal
                            text-black 
                            {% if request.resolver_match.url_name == '/' %}after:w-full{% endif %}
                            after:block after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:bg-black after:transition-all hover:after:w-full">
                    Акции
                </a>
                <a href="#"
                    class="relative px-3 py-2 rounded-md text-sm font-normal
                            text-black 
                            {% if request.resolver_match.url_name == '/' %}after:w-full{% endif %}
                            after:block after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:bg-black after:transition-all hover:after:w-full">
                    О нас
                </a>
                <a href="#"
                    class="relative px-3 py-2 rounded-md text-sm font-normal
                            text-black 
                            {% if request.resolver_match.url_name == '/' %}after:w-full{% endif %}
                            after:block after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:bg-black after:transition-all hover:after:w-full">
                    Доставка и оплата</a>
            </div>

            <!-- Правый блок: Корзина -->
            <div class="flex items-center space-x-4">

                <!-- Корзина  и аутентификация-->
                <div class="relative flex items-center space-x-2 flex-row gap-5">

                    {% with total_items=cart|length %}
                    <a href="{% url 'cart:cart_detail' %}" class="flex items-center text-black font-thin text-xl">
                        <img src="{% static 'img/Cart.svg' %}" alt="Cart" class="w-7 h-7">
                        {% if total_items > 0 %}
                        <span class="ml-1 font-medium text-xl ">{{ total_items }}</span>
                        {% endif %}
                    </a>
                    {% endwith %}
                </div>
                <!-- Правый блок: Корзина -->

                <!-- Бургер меню -->
                <div class="md:hidden">
                    <button id="mobile-menu-button"
                        class="relative w-8 h-8 flex flex-col justify-between items-center p-2 text-black hover:text-blue-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">

                        <!-- Линии бургера -->
                        <span
                            class="block w-8 h-0.5 bg-current transform transition duration-300 ease-in-out origin-center"></span>
                        <span
                            class="block w-8 h-0.5 bg-current transform transition duration-300 ease-in-out origin-center"></span>
                        <span
                            class="block w-8 h-0.5 bg-current transform transition duration-300 ease-in-out origin-center"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Мобильное меню -->
    <div id="mobile-menu" class="hidden md:hidden px-2 pt-2 pb-3 space-y-1 flex flex-col">

        <a href="{% url 'shop:product_list' %}"
            class="relative px-3 py-2 rounded-md text-sm font-normal
                            text-black 
                            {% if request.resolver_match.url_name == 'product_list' %}after:w-full{% endif %}
                            after:block after:absolute after:left-0 after:-bottom-1 after:h-0.5 after:bg-black after:transition-all hover:after:w-full">
            Главная
        </a>
        <div class="relative group">
            <button
                class="relative text-black px-3 py-2 rounded-md text-sm font-normal after:block after:absolute after:left-0 after:-bottom-1 after:w-0 after:h-0.5 after:bg-black after:transition-all hover:after:w-full">
                Категории
            </button>
            <!-- dropdown menu категории-->
            <div class="relative group">
                <button class="px-3 py-2 text-sm font-normal text-black rounded-md">
                    Категории
                </button>
                <div class="absolute left-0 mt-2 w-48 bg-white shadow-lg rounded-md
                            opacity-0 invisible group-hover:opacity-100 group-hover:visible
                            transition-all duration-200 z-50">
                    {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100
                            {% if request.path == category.get_absolute_url %}bg-gray-200 font-semibold{% endif %}">
                        {{ category.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <!-- dropdown menu категории-->
        </div>
        <a href="#"
            class="relative text-black px-3 py-2 rounded-md text-sm font-normal 
            after:block after:absolute after:left-0 after:-bottom-1 after:w-0 after:h-0.5 after:bg-black after:transition-all hover:after:w-full">
            О нас
        </a>
        <a href="#"
            class="relative text-black px-3 py-2 rounded-md text-sm font-normal 
            after:block after:absolute after:left-0 after:-bottom-1 after:w-0 after:h-0.5 after:bg-black after:transition-all hover:after:w-full">
            Контакты
        </a>
    </div>
</nav>

<script>
    // анимация бургера
    document.addEventListener('DOMContentLoaded', function () {
        const btn = document.getElementById('mobile-menu-button');
        const menu = document.getElementById('mobile-menu');
        const lines = btn.querySelectorAll('span');

        btn.addEventListener('click', () => {
            menu.classList.toggle('hidden');

            // Анимация линий
            lines[0].classList.toggle('rotate-45');
            lines[0].classList.toggle('translate-y-2');

            lines[1].classList.toggle('opacity-0');

            lines[2].classList.toggle('-rotate-45');
            lines[2].classList.toggle('-translate-y-2');
        });
    });
</script>