{% load static %}
<nav class="bg-white/90 backdrop-blur-md fixed top-0 left-0 w-full z-50">
    <div class="px-3">
        <div class="flex justify-between h-16 items-center">

            <!-- Левый блок: Логотип -->
            <div class="flex-shrink-0 flex items-center">
                <a href="{% url 'shop:product_list' %}" class="text-xl font-bold text-blue-600"><img
                        src="{% static 'img/Logo.svg' %}" alt="Logo"></a>
            </div>

            <!-- Центр: Пункты навигации (десктоп) -->
            <div class="hidden md:flex space-x-6">
                <a href="{% url 'shop:product_list' %}"
                    class="text-black hover:text-blue-900 px-3 py-2 rounded-md text-sm font-normal">Главная</a>
                <!-- DROPDOWN -->
                <div class="relative group">
                    <button class="text-black hover:text-blue-900 px-3 py-2 text-sm font-normal">
                        Категории
                    </button>

                    <!-- dropdown menu -->
                    <div class="absolute left-0 top-full w-48 bg-white shadow-lg rounded-md 
                                    opacity-0 invisible group-hover:opacity-100 group-hover:visible
                                    transition duration-200">

                        {% for category in categories %}
                        <a href="{{ category.get_absolute_url }}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">
                            {{ category.name }}
                        </a>
                        {% endfor %}
                    </div>
                </div>
                <a href="#" class="text-black hover:text-blue-900 px-3 py-2 rounded-md text-sm font-normal">Акции</a>
                <a href="#" class="text-black hover:text-blue-900 px-3 py-2 rounded-md text-sm font-normal">Как
                    заказать</a>
                <a href="#" class="text-black hover:text-blue-900 px-3 py-2 rounded-md text-sm font-normal">О нас</a>
                <a href="#" class="text-black hover:text-blue-900 px-3 py-2 rounded-md text-sm font-normal">Доставка и
                    оплата</a>
            </div>

            <!-- Правый блок: Корзина -->
            <div class="flex items-center space-x-4">

                <!-- Корзина  и аутентификация-->
                <div class="relative flex items-center space-x-2 flex-row gap-5">

                    {% with total_items=cart|length %}
                    <a href="{% url 'cart:cart_detail' %}" class="flex items-center text-black font-thin text-xl">
                        <img src="{% static 'img/Cart.svg' %}" alt="Cart" class="w-7 h-7">
                        {% if total_items > 0 %}
                        <span class="ml-1 font-medium text-xl ">{{ total_items }}</span>
                        {% endif %}
                    </a>
                    {% endwith %}
                </div>
                <!-- Правый блок: Корзина -->

                <!-- Бургер меню -->
                <div class="md:hidden">
                    <button id="mobile-menu-button"
                        class="relative w-8 h-8 flex flex-col justify-between items-center p-2 text-black hover:text-blue-900 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500">

                        <!-- Линии бургера -->
                        <span
                            class="block w-8 h-0.5 bg-current transform transition duration-300 ease-in-out origin-center"></span>
                        <span
                            class="block w-8 h-0.5 bg-current transform transition duration-300 ease-in-out origin-center"></span>
                        <span
                            class="block w-8 h-0.5 bg-current transform transition duration-300 ease-in-out origin-center"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Мобильное меню -->
    <div id="mobile-menu" class="hidden md:hidden px-2 pt-2 pb-3 space-y-1">
        <a href="{% url 'shop:product_list' %}"
            class="block px-3 py-2 rounded-md text-base font-medium text-black hover:text-black">Главная</a>
        <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-black hover:text-black">О нас</a>
        <a href="#" class="block px-3 py-2 rounded-md text-base font-medium text-black hover:text-black">Контакты</a>
    </div>
</nav>

<script>
    // анимация бургера
    document.addEventListener('DOMContentLoaded', function () {
        const btn = document.getElementById('mobile-menu-button');
        const menu = document.getElementById('mobile-menu');
        const lines = btn.querySelectorAll('span');

        btn.addEventListener('click', () => {
            menu.classList.toggle('hidden');

            // Анимация линий
            lines[0].classList.toggle('rotate-45');
            lines[0].classList.toggle('translate-y-2');

            lines[1].classList.toggle('opacity-0');

            lines[2].classList.toggle('-rotate-45');
            lines[2].classList.toggle('-translate-y-2');
        });
    });
</script>