{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My shop{% endblock %}</title>
    <!-- htmx -->
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Alpine.jsAlpine.js — “легкий Vue для маленьких интерактивных частей сайта” меню выпадающие списки -->
    <script src="//unpkg.com/alpinejs" defer></script>
</head>

<body>
    {% include "include/menu.html" %}
    {% block content %}

    {% endblock %}
</body>

</html>